<div class="col-xl">
  <div class="white_card card_height_100 mb_30" style="background-color: white;">
    <div class="white_card_body">
      <div class="d-flex align-items-center justify-content-center">
        <!-- Logo Section -->
        <div class="logo mr-3">
          <img src="assets/img/logo_esprit.png" alt="Logo" height="40">
        </div>
        <!-- Navigation Menu -->
        <ul class="nav custom_bootstrap_nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/api/user/manag/profile']">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/api/user/claims']">Claims</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/api/user/documents']">Documents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/api/user/offers/list-offer']">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/api/user/offers/Myapplications',currentUser.id]">Mes applications</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="libraryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              University Library
            </a>
            <ul class="dropdown-menu" aria-labelledby="libraryDropdown">
              <li>
                <a class="dropdown-item"[routerLink]="['/api/user/books/books-student']" routerLinkActive="active-link">Books</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/api/user/books/accptedBookByuser']" routerLinkActive="active-link">My Books</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logOut()">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
