
<!-- <h2>{{ isEditMode ? 'Edit Category' : 'Add New Category' }}</h2> -->
<h2>Add New Category</h2>
<form (ngSubmit)="saveCategory()">
  <label>
    Category Name:
    <input [(ngModel)]="category.categoryName" name="categoryName" required>
  </label>
  <br>
  <label>
    Description:
    <input [(ngModel)]="category.description" name="description" required>
  </label>
  <br>
  <!-- <button type="submit">{{ isEditMode ? 'Update' : 'Create' }}</button> -->
  <button type="submit">Create</button>
</form>